<%= form_for(@live_house, url: update_detail_path(@live_house)) do |f| %>
  <h2>詳細情報の編集</h2>
  <%= f.text_area :detail, id:"input" %>

  <%= f.submit "登録する"%>
<% end %>


<span><%= markdown().html_saf, id:'output' %></span>

<!-- <h1>Input: <span id="output"></span></h1> -->



<script>
$(function() {
  $('input').on('input', function() {
    var value = $('input').val();
    $('output').text(value);
  });
});
</script>











<%= form_for @live_house, :url => {:action => :update_detail} do |f| %>
  <div class="form-group">
    <%= f.text_area :detail , class: 'form-control', placeholder: 'タイトルを入力してください'%>
  </div>
  <div class="form-group">
    <div id='editor'>
      <textarea name="live_house[detail]" class="form-control" rows="20" v-model='input' debounce='50'></textarea>
      <div v-html='input | marked'></div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  window.onload = function() {
    new Vue({
      el: '#editor',
      data: {
        input: '<%== j @live_house.detail %>',
      },
      filters: {
        marked: marked,
      },
    });
  };
</script>
