<div class="full_screen_container b">
  <%= render 'layouts/user_header' %>
  <div class="edit_container b">
    <%= form_for(@live_house, url: update_detail_path(@live_house)) do |f| %>
      <%= f.trix_editor :detail, class: "edit_detail_area b"%>
      <%= f.submit "更新する", class: "btn b"%>
    <% end %>
  </div>
  <%= render 'layouts/footer' %>
</div>
