<%= form_for(@live_house, url: update_basic_path(@live_house)) do |f| %>
  <h2>画像</h2>

  <h2>ライブハウス名</h2>
  <%= f.text_field :name %>

  <h2>収容人数</h2>
  <%= f.number_field :capacity %>

  <h2>都道府県</h2>
  <%= f.text_field :prefecture %>

  <h2>その他の住所</h2>
  <%= f.text_field :address %>

  <h2>電話番号</h2>
  <%= f.text_field :phone_number %>

  <h2>HPのURL</h2>
  <%= f.text_field :hp_url %>

  <%= f.submit "登録する"%>
<% end %>
