<div class="house_index_box b">
  <% if current_user.nil? %>
    <%= render 'layouts/header' %>
  <% else %>
    <% if current_user.admin == false %>
      <%= render 'layouts/user_header' %>
    <% else %>
      <%= render 'layouts/admin_header' %>
    <% end %>
  <% end %>


  <div class="side_bar_container center b">

    <%= form_tag live_houses_path, id: 'form1', method: :get do %>
      <%= text_field_tag :q, nil, id: 'sbox', class: 'b mt-50' ,placeholder: '名前or都道府県' %>
      <div class="mt-50">
        <label><%= radio_button_tag :capacity, "0" %> 0人以上 </label>
        <label><%= radio_button_tag :capacity, "100" %> 100人以上 </label>
        <label><%= radio_button_tag :capacity, "1000" %> 1000人以上</label>
      </div>
      <%= submit_tag '検索', id: 'sbtn', class: 'btn-lg btn-light mt-50 b' %>
    <% end %>

  </div>

  <div class="index_container b">
    <title>live_house_index</title>
    <% @live_houses.each do |f| %>
      <div class="live_house_index">
        <div class="b live_house">
          <div class="image b">
            <% photo = f.image_id %>
            <% if photo == "" %>
              <%= image_tag "no_image.png", size: '200x200' %>
            <% else %>
              <%= image_tag Photo.find(f.image_id).image_url, size: '200x200' %>
            <% end %>
          </div>
          <p><%= f.name %></p>
          <p>収容人数:<span><%= f.capacity %></span>人</p>
          <p>所在地:<span><%= f.prefecture %></span></p>
        </div>
      </div>
    <% end %>
    <div id="page_container b">
      <%= paginate @live_houses %>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div>
