
<%= form_tag search_path, id: 'form1', method: :get do %>
  <%= text_field_tag :q, nil, id: 'sbox', placeholder: 'キーワードを入力' %>
  <div>
    <label><%= check_box_tag :prefecture, "北海道" %> 北海道 </label>
    <label><%= check_box_tag :prefecture, "青森" %> 青森 </label>
    <label><%= check_box_tag :prefecture, "岩手" %>  岩手 </label>
    <label><%= check_box_tag :prefecture, "宮城" %> 宮城 </label>
    <label><%= check_box_tag :prefecture, "秋田" %> 秋田 </label>
    <label><%= check_box_tag :prefecture, "山形" %> 山形 </label>

  </div>

  <div>
    <label><%= radio_button_tag :capacity, "0" %> 0人以上 </label>
    <label><%= radio_button_tag :capacity, "100" %> 100以上 </label>
    <label><%= radio_button_tag :capacity, "1000" %> 1000以上</label>
  </div>


  <%= submit_tag '検索', id: 'sbtn', class: 'btn btn-lg btn-light' %>
<% end %>
<div>
  <% unless @live_house.nil? %>
    <% @live_house.each do |f| %>
      <%= f.name %><br>
    <% end %>
  <% end %>
</div>
