<div class="full_screen_container top_box">
    <div class="top_band b clearfix">
      <div class="logo_container b">
        <%= link_to "top",root_path %>
      </div>
      <div class="band_text_container b">
        <%= link_to "一覧", sign_in_path, class: "top_text" %>
        <%= link_to "ログイン", sign_in_path, class: "top_text"  %>
        <%= link_to "新規登録", sign_up_path, class: "top_text"  %>
        <%= link_to "検索", '#', class: "top_text" %>
      </div>
    </div>
</div>
