<div class="full_screen_container b">
  <% if current_user.admin == false %>
    <%= render 'layouts/user_header' %>
  <% else %>
    <%= render 'layouts/admin_header' %>
  <% end %>
  <div class="sign_box b">
    <div class="error_container">
      <%= render 'layouts/error_messages', instance: @user %>
      <%= render 'layouts/flash_messages' %>
    </div>
    <div class="form-box clearfix">
      <label for='name' class='form-title'>登録情報編集</label>
    </div>
    <%= form_for(@user, url: user_path(@user)) do |f| %>
    <div class="form-box clearfix">
      <%= f.text_field :name, class: "form form-input", placeholder: "氏名" %>
      <label for='name'>氏名<span class='form-req'>必須</span></label>
    </div>
    <div class="form-box clearfix">
      <%= f.text_field :nickname, class: "form form-input", placeholder: "ボックス太郎" %>
      <label for='name'>アカウント名<span class='form-req'>必須</span></label>
    </div>
    <div class="form-box clearfix">
      <%= f.text_field :email, class: "form form-input", placeholder: "example@hoge.com" %>
      <label for='name'>メールアドレス<span class='form-req'>必須</span></label>
    </div>
    <div class="form-box clearfix">
      <%= f.text_field :home_house, class: "form form-input", placeholder: "ライブハウス名" %>
      <label for='name'>ホームグラウンド</label>
    </div>
    <div class="form-box clearfix ">
      <%= f.submit "編集", class: "btn b"%>
    </div>
    <% end %>
    <div class="form-box clearfix center">
      <%= link_to(user_path(current_user)) do %>
        <button class="btn mt-50">退会</button>
      <% end %>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div>
