<div class="full_screen_container b">
  <%= render 'layouts/header' %>
  <div class="sign_box b">
    <div class="error_container center">
      <%= render 'layouts/flash_messages' %>
    </div>
    <div class="form-box clearfix">
      <label for='name' class='form-title'>ログイン</label>
    </div>
    <%= form_for(:session, url: sign_in_path(@user)) do |f| %>
    <div class="form-box clearfix">
      <%= f.text_field :email, class: "form form-input", placeholder: "example@hoge.com" %>
      <label for='name'>メールアドレス</label>
    </div>
    <div class="form-box clearfix">
      <%= f.password_field :password, class: "form form-input", placeholder: "パスワード" %>
      <label for='name'>パスワード</label>
    </div>
    <div class="form-box clearfix">
      <%= f.submit "ログイン", class: "btn"%>
    </div>
    <% end %>
  </div>
  <%= render 'layouts/footer' %>
</div>
