<div class="full_screen_container center">
  <%= render 'layouts/admin_header' %>
  <div class="index_container inline-block pl-50">
    <table class="report">
      <tr>
        <th class="report_caption">ライブハウス</th>
        <td>ユーザー</td>
        <td>理由</td>
      </tr>
      <% @reports.each do |f| %>
        <tr>
          <th><%=link_to f.live_house.name, report_path(f.id) %></th>
          <td><%= f.user.name%></td>
          <td><%= f.reason %></td>
        </tr>
      <% end %>
    </table>
    <div class="page mt-50">
      <%= paginate @reports %>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div>
