<div class="center">
  <% unless @live_house_ver.nil? %>
    <div class="show_basic_box">
      <div class="image_area">
        <% if @photo.nil? %>
          <%= image_tag "no_image.png", size: '200x200', class: "imgView" %>
        <% else %>
          <%= image_tag @photo.image_url, size: '200x200', class: "imgView" %>
        <% end %>
      </div>

      <div class="text_area clearfix">
        <h1 class=""><%= @live_house_ver.name %></h1>
        <h2 class="">人数: <%= @live_house_ver.capacity %> 人</h2>
        <h2 class="">場所: <%= @live_house_ver.prefecture %><%= @live_house.address %></h2>
        <h2 class="">番号: <%= @live_house_ver.phone_number %></h2>
        <h2 class="">URL  <%= @live_house_ver.hp_url %></h2>
      </div>
    </div>

    <div class="show_detail_box">
      <div class="side_ber">
      </div>
      <div class="text_area">
        <%= sanitize @live_house_ver.detail %>
      </div>
    </div>
  <% end %>
  <% if params[:ver_id] == "2" %>
    <p>createアクションにて作成されました</p>
  <% end %>
  <p class="mt-25"><%= link_to "戻る", report_path(params[:report_id]) %></p>
</div>
