<div class="full_screen_container center">
  <%= render 'layouts/admin_header' %>
  <div class="index_container inline-block pl-50">
    <table class="report">
      <tr>
        <th class="report_caption">versions</th>
        <td>ユーザー</td>
        <td>編集時期</td>
      </tr>
      <% @live_house_ver.each_with_index do |version,i| %>

          <tr>
            <td><%= (@live_house_ver.current_page - 1)*15 + (i + 1) %></td>
            <td><%= link_to User.find(version.whodunnit).name, report_ver_path(house_id: @live_house.id, ver_id: version.id) %></td>
            <td><%= version.created_at %></td>
          </tr>

      <% end %>
    </table>
    <div id="page_container b">
      <%= paginate @live_house_ver %>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div>
