<header class="b">
  <div>
    <ul>
      <%= link_to "top",root_path %>
      <%= link_to "マイページ", user_path %>
      <%= link_to "新しい箱の登録", new_live_house_path %>
      <%= link_to "検索", '#'%>
      <%= link_to "ログアウト", sign_out_path %>
    </ul>
  </div>
</header>
